*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transform: all  .2s linear;
}




.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    padding-bottom: 70px;
    min-height: 100vh;
    background: rgb(7, 150, 160)
    
} 

.container form{
    padding: 20px;
    width: 700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.container form.row {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
}
.container form.row.col{
    flex: 1 1 250px;
}
.containerform.row.col.title {
    font-size: 20px;
    color: #333
}

